.featureProductBox {
  width: 100%;
  overflow: hidden;
}

.featureProduct {
  height: 350px;
  width: 100%;
  /* background-image: url("https://xtemos1.r.worldssl.net/basel/wp-content/uploads/2016/10/market-snowb6_1.jpg"); */
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.featureProduct:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2);
}

.category {
  height: 45px;
  width: 100%;
  border-bottom: 2px solid rgb(29, 57, 82);
}

.product {
  height: 280px;
  width: 95%;
  background-color: brown;
  margin-bottom: 10px;
}
.button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  background: #ffd800;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: cursor;
}

.button:hover {
  color: #ffffff;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.sliderWrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slide {
  height: 70vh;
  background-size: cover !important;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.sliderContent {
  text-align: center;
}

.sliderContent .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sliderContent .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.sliderContent .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
}

.sliderContent .inner p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.sliderContent section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sliderContent section span {
  color: #ffffff;
}

.sliderContent section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.sliderContent section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.sliderContent section span strong {
  color: #ffffff;
  font-size: 14px;
  display: block;
}

@media (max-height: 500px) {
  .sliderWrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .sliderWrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .sliderContent .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .sliderContent .inner h1 {
    font-size: 32px;
  }
}

.productView {
  height: 280px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 5px;
  position: relative;
}

.tools {
  background: black;
  opacity: 0.9;
  z-index: 100;
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: -55px;
  padding: 0px !important;
}

.tools:hover {
  background: rgb(27, 27, 27);
}

.tools i {
  color: white;
  cursor: pointer;
}

.tools ul {
  width: 100%;
  height: 50px;
}

.tools ul li {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}

.tools ul li i {
  line-height: 50px;
  transition: 0.5s;
}

.tools ul li i:hover {
  color: rgb(167, 166, 166);
}

.tools i:hover {
  color: white;
  cursor: pointer;
}

.productView:hover .tools {
  margin-top: -135px;
  transition: 0.3s;
}

.productContent {
  height: 45px;
  margin-bottom: 5px;
  z-index: 110;
  position: relative;
  background: white;
}

.productActions {
  position: absolute;
  float: right;
  margin-top: -200px;
}

.slider {
  /* overflow-x: hidden !important; */
}

.sliderBox {
  position: relative;
}
.nextButton {
  margin-top: -155px;
  right: 5px;
  position: absolute;
  border-radius: 50%;
  background: #eb6262;
  color: white;
  border: 0px;
  font-size: 22px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.prevButton {
  margin-top: -155px;
  left: -15px;
  position: absolute;
  border-radius: 50%;
  background: #eb6262;
  color: white;
  border: 0px;
  font-size: 22px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.sliderBox:hover .nextButton {
  display: block;
}

.sliderBox:hover .prevButton {
  display: block;
}

.linkStyle {
  z-index: 10;
  color: black;
  text-decoration: none;
}
