 .rating1 {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 0px !important;
    }
    .type{
         color: rgb(112, 110, 110);
     font-family: "Roboto",Arial,sans-serif;
    }