.tabContainer{
    width:100%;
    height: 350px; 
}
.tabContainer .buttonContainer{
    height: 15%;

}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 10px;
    background-color: #eee;
}

.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4
}

.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.tabStyle{
    background-color: #304763 !important;
}
 .header{
    color: #333;
    font-size: 64px;
    font-weight: 100;
    line-height: 2px;
   font-family: "Roboto",Arial,sans-serif;
    
}
.reviewSummery{
    color: rgb(112, 110, 110);
     font-family: "Roboto",Arial,sans-serif;
}
.accIcon{
    color:"#3f51b5";
    font-size: 30;
    float: left;
    margin: 0px 5px 0px 0px;
}
.rate{
     float: left;
     margin: 0px 5px 0px 0px;
}
.avatar {
    margin: 10;
    color: '#fff';
  
  }

 .shippingInfo table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:#464646
}

.shippingInfo table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.shippingInfo table tr:nth-child(even) {
  background-color: #dddddd;
}
.title{
  margin: 0px 0px 20px 0px;
  color:#122031
}