.product1 {
  height: 232px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://basel-cec2.kxcdn.com/basel/wp-content/uploads/2016/10/market-head3_2-273x348.jpg");
}

.product2 {
  height: 232px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://basel-cec2.kxcdn.com/basel/wp-content/uploads/2015/10/accessories-21.jpg");
}
