.thumbnailImage{
  height: 140px;
  width: 140px;
  margin:0px 0px 10px 0px;
}
.thumbnailImage:hover{
  opacity: 0.5;
  transition: ease-in-out;
}
.productImages{
  height: 100%;
  width: 100%;
}

.productImageBox{
  height: 500px;
  width: 300px; 
}
.title{
      font-family: Poppins,Arial,Helvetica,sans-serif;
margin-bottom: 15px;

}
.productBrand{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 70px;
    background-color: #FFF;
    box-shadow: 0 0 2px rgba(0,0,0,.12);
    transition: all .3s ease;
}
.price{
  font-size: 22px;
  color:#83B735;
  margin-bottom:10px;
}
/* .amount{
  font-size: inherit;

  font:Lato,Arial,Helvetica,sans-serif
} */
.symbol{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

.shortDetails{
    margin-bottom: 25px;
    line-height: 1.8;
    color: #777;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.addCart{
      margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
.quantity{
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-flex;
    vertical-align: top;
    white-space: nowrap;
    font-size: 0;
    display: inline-block;
    color: #777;
}

.productConfiguration h1{
    font-weight: 600;
    font-size:100%;
    color:rgb(77, 78, 80);
    letter-spacing: 1px;
    float: left;
}

.deliveryInfo{

}
.allColors{
  margin: 10px 0px 10px 0px;
  list-style-type: none;
  float: left;
  padding: 0px 0 0 10px;
  align-items: center;
    
}

.allColors li{
    width: 20px;
    height: 20px;
    
    display: inline-block;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: unset;
     border:3px solid #efe6e6;
    box-shadow: 0 0 2px #CCC;
    
}

.quantityBox {
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  padding: 3px 5px;
}
.buttonStyle{
   height: 100%;
  width: 100%;
}
.addToCart{
  text-align: center;
  margin-top: 0px;
  padding: 3px 5px;
   height: 35px;
   width: 100%;
}
.deliveryInfo{
   display: flex;
    text-decoration: none;
    
    
    min-height: 100%;
    background-color: #FFF;
    box-shadow: 0 0 2px rgba(0,0,0,.12);
   
}
.deliveryInfo .header{
  
  color:rgba(0,0,0,.56);
}