.imgZoomContainer {
  position: relative;
}

.imgZoomLens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.imgZoomResult {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 50px;
  height: 350px;
}
