.head {
  text-align: center;
  color: #222222;
}

.image {
  margin: 0px;
  width: 110px;
  height: 160px;
  float: right;
  margin-left: 75px;
  z-index: 1;
}

.list {
  z-index: 2;
}

.list li {
  list-style-type: none;
}

.list li a {
  list-style-type: none;
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding: 3px;
}

.list li a:hover {
  text-decoration: underline;
}

.custom-icons {
  color: brown;
}

.hotProduct {
  margin-bottom: 50px;
}
