
.box {
    background: #fff;
    border-radius: 5px;
    border: 3px solid rgb(235, 232, 232); 
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 300px; */
    /* margin: 10px ; */
    padding: 0 5%;
    /* position: relative; */
    width: 100%; 
    box-sizing: border-box;
    
  }

  .infoContainer{
       padding: 20px 0px;
       position: relative;
  }

  .left{
      position: absolute;
      left: 5px;
      display: inline-block;
      color: rgba(112, 112, 112, 0.938);
  }
  .right{
    position: absolute;
    right: 5px;
    display: inline-block;
    color: rgba(112, 112, 112, 0.938);  
  }
  
  .total{
    font-weight: 1000;
    font-size: 20px;
  }