.list {
  width: 100%;
  background: white;
}

.catagory {
  background: rgb(29, 57, 82);
  color: white !important;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
}

.list > li {
  list-style-type: none;
  float: left;
  width: 100px;
  text-align: center;
  line-height: 48px;
  font-size: 13px;
  color: rgb(34, 31, 31);
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}

.list > li:hover:not(:first-child) {
  background: whitesmoke;
}
