html,
body {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: sans-serif;
  width: 100%;
}

.content {
  width: 1200px;
  margin: -12px auto;
}

@media screen and (max-width: 1440px) {
  .content {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    width: 1000px;
  }
}

@media screen and (max-width: 1080px) {
  .content {
    width: 900px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 721px) {
  .content {
    width: 100%;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 720px) {
  .content {
    width: 100%;
    padding: 0px 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d1c7c7; 
  border-radius: 3;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5584b6; 
  border-radius: 3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #515fe0; 
}
.MuiBox-root-506 {
    margin-bottom: 0px !important;
    border-color: transparent !important;
}
.MuiBox-root-453 {
    margin-bottom: 0px !important;
    border-color: transparent !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}